body {
  background: #f8e8a6;
}
h1,
p,
.links {
  text-align: center;
}
.links a {
  margin: 7px;
  color: green;
}
.image-croissant {
  max-width: 60%;

  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
